.btnAction{
  clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}
.sidebarAction{
  clip-path: polygon(100% 0, 100% 20%, 94% 50%, 100% 80%, 100% 100%, 0 100%, 0 0);
}
.flag {
  width: 200px;
  height: 100px;
  background: linear-gradient(45deg, red 50%, white 50%);
  position: relative;
}

.flag:before, .flag:after {
  content: "";
  position: absolute;
}

.flag:before {
  width: 100px;
  height: 100px;
  background: blue;
  top: 0;
  left: 0;
}

.flag:after {
  width: 200px;
  height: 20px;
  background: white;
  top: 40px;
  left: 0;
}